name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Setup key
      - name: Setup SSH key
        run: |
          set -eu
          mkdir -p "$HOME/.ssh"
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > "$HOME/.ssh/key"
          chmod 600 "$HOME/.ssh/key"

      # Deploy
      - name: Deploy via rsync
        run: |
          rsync -e "ssh -p 22 -i $HOME/.ssh/key -o StrictHostKeyChecking=no" \
                --archive --compress --delete \
                . \
                goldenroru@77.222.56.187:/home/portfolio/public_html/